<% layout('./layouts/boilerplate') %>

    <div class="article-show-container">
        <!-- Article Title -->
        <h1 class="article-show-title">
            <%= article.title %>
        </h1>

        <!-- Article Image -->
        <% if (article.image && article.image.url) { %>
            <div class="article-show-image">
                <img src="<%= article.image.url %>" alt="<%= article.title %>">
            </div>
            <% } %>

                <!-- Article Content -->
                <div class="article-show-description">
                    <p>
                        <%= article.description %>
                    </p>
                </div>

                <!-- Back Button -->
                <div class="article-show-actions">
                    <div style="display: flex;">
                        <div style="margin-right: 15px;">
                            <button class="btn-primary"><a href="/articles/<%= article._id %>/edit"
                                    style="color: white; text-decoration: none;">Edit</a></button>
                        </div>
                        <form action="/articles/<%= article._id%>?_method=DELETE" method="post">
                            <button class="btn-primary" type="submit"
                                style="background-color: rgba(255, 56, 56, 0.816);">Delete</button>
                        </form>
                    </div>
                    <div>
                        <a href="/" class="btn-primary">← Back</a>
                    </div>

                </div>
    </div>